<section>
	<h3>Our History</h3>
	<p>MyLife, founded in 2021 in Massachusetts, USA, embarked on a mission to preserve digital legacies. Our objective is to provide a durable, enduring internet-enabled platform for individuals to collect, curate, and share personal media and information in perpetuity. As a legally recognized nonprofit organization in the United States, we're poised to be a trusted humanist platform for digital memorialization and personal storytelling.</p>
</section>
<section>
	<h3>Our People</h3>
	<p>Guiding MyLife is a board of dedicated volunteers, passionate about our mission.</p> 
		<ul>
			<li>Erik Jespersen, <em>President and Treasurer</em></li>
			<li>Kenneth Williams, <em>Vice-President</em></li>
			<li>Stephen Kenney, <em>Technology Director</em></li>
			<li>Russ Olivier, <em>Director</em></li>
		</ul>
	In addition, we've been bolstered by numerous volunteers who have helped move our services build to completion, and currently in leadership roles, we have:
	<ul>
		<li>Dr. Jeff Nagy, Executive Director</li>
		<li>Jesse Waters, CMO</li>
	</ul>
	</p>
	</section>
<section>
	<p>MyLife is grounded in the values of digital dignity, equality, and security. We are committed to providing an AI-superintelligent platform that is accessible to all humans globally. Our goal is to be a personal and private space on the internet where members can develop themselves and represent their digital selves safely.</p>
</section>
<section>
	<p>MyLife offers an array of member services focusing on the capture, curation, and storage of personal stories and media. Our key product <b>is</b> the MyLife platform for personal avatars to embody and showcase materials and memorials. We also provide trusted partner API access and initiatives to connect students with posterity archiving. Our commitment extends to supporting artistic, technical, and educational projects aligned with our mission.</p>
	<p>While you will find the most current info with Q, you can take a look at one of our <a href="./pdf/MyLife_Summary.pdf">original outreach artifacts here</a>.</p>
</section>
<section>
	<p><a href="javascript:privacyPolicy()">Our Privacy Policy</a> is always evolving and unique among their kind. At MyLife, the revolutionary aim of the intelligent platform is to put you in control - over your data, over your experience, and over the skills and knowledge your intelligent avatar acquires.</p>
	<p>To learn more about MyLife, <a href="./"></a>chat with our corporate intelligence, <em>Q</em></a>, but we are eager to assist you with any inquiries and provide further information about our services, currently in alpha. To reach us by email, contact us at: <a href="mailto:info@humanremembranceproject.org">info@humanremembranceproject.org</a></p>
</section>